$c-brand: #23b7c2;

$c-brand-pink: #f6aaff;;
$c-brand-light: #ffffff;
$c-brand-black: #000000;
// $c-brand-title: #5c0a67;
$c-brand-title: #ffffff;
$c-brand-icons: #5c0a67;
$c-brand-bg: #e9e7e9;
$c-brand-dark: #0d7880;
$c-brand-border: #5c0a67;
$c-brand-hover: #bbbbbb;
$c-brand-hover-color: #5c0a67;
$c-brand-link: #ffffff;

$c-invalid: #ff0000;
$c-invalid-bg: #ffbdd7;

$c-isValid: #138f3a;
$c-isValid-bg: #bdf3e6;

$c-error-msg: #ff0000;
$c-success-msg: #ffffff;

$c-errors: #5c0a67;