@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Montserrat:wght@500;700&display=swap');

$fontFamily : 'Bai Jamjuree', sans-serif ;
$font-family2: 'Fraunces', serif;
$font-family3: 'Montserrat', sans-serif;
$fontSize : 18px ;
$fontWeight600 : 600 ;
$fontWeight400 : 400 ;
$lineHeight : 1.5rem ;