@use "./_h-fonts" as F;
@use "./_h-colors" as C;
@use "./_h-breakPoints" as BP;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: F.$fontSize;
  font-family: F.$fontFamily;
  font-weight: F.$fontWeight400;
  line-height: F.$lineHeight;
  text-align: center;
}

// .product__card {
//   width: 50px;
//   height: 50px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   align-items: center;
//   background-color: rgb(185, 187, 187);
// }

// .product__card--img img {
//   width: 150px;
//   height: auto;
//   /* margin-right: 10px; */
//   border: 2px solid rgb(92, 10, 103);
// }



// .is-invalid {
//   border: 2px solid red;
//   background-color: rgb(246, 170, 255);
//   color: rgb(0, 0, 0);
//   // padding-left: 15px;
// }

// .is-valid {
//   border: 2px solid green;
//   border-radius: 5px;
//   transform: scale(1.05);
//   font-weight: bold;
//   background-color: rgb(189, 243, 230);
//   color: rgb(19, 143, 58);
// }

// .error-message {
//   display: flex;
//   flex-direction: row;
//   margin: 0px 0px 15px 0px;
//   color: rgb(217, 81, 131);
//   font-size: 16px;
//   font-weight: bold;
//   padding-left: 15px;
// }

// .success-message {
//   display: flex;
//   flex-direction: column;
//   margin: 25p;
//   color: rgb(19, 143, 58);
//   font-size: 18px;
//   font-weight: bold;
//   padding: 15px;
//   width: 70%;
//   text-align: center;
// }

// #errors {
//   display: flex;
//   flex-direction: column;
//   margin: 0px 0px 15px 0px;
//   color: rgb(117, 2, 44);
//   font-size: 16px;
//   font-weight: bold;
//   padding-left: 15px;
//   text-align: center;
// }



// .products {
//   display: flex;
//   flex-wrap: nowrap;
//   align-items: center;
//   flex-wrap: wrap;
//   width: 100%;
//   margin-top: 50px;
// }

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid rgb(185, 187, 187);
  transition: all 0.3s ease-in-out;
}

.product__img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid rgb(185, 187, 187);
  transition: all 0.3s ease-in-out;
}

.product__img:hover {
  transform: scale(1.15);
  border: 1px solid rgb(148, 99, 6);
  border-radius: 2px;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 5px;
  margin: 15px;

}

.section__products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.btnAddCart {
  margin-top: 10px;
  padding: 5px;
  height: 43px;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgb(72, 148, 6);
  border: 1px solid rgb(185, 187, 187);
  color: white;
}


// .btnRemoveCart {
//   margin-top: 10px;
//   padding: 5px;
//   height: 43px;
//   font-size: 16px;
//   border-radius: 5px;
//   background-color: rgb(148, 6, 6);
//   border: 1px solid rgb(185, 187, 187);
//   color: white;
// }

// .btnBuy {
//   margin-top: 10px;
//   padding: 5px;
//   height: 43px;
//   font-size: 16px;
//   border-radius: 5px;
//   background-color: rgb(6, 148, 6);
//   border: 1px solid rgb(185, 187, 187);
//   color: white;
// }


// .btnBuy:hover {
//   background-color: rgb(185, 187, 187);
//   color: rgb(148, 99, 6);
// }

// .btnRemoveCart:hover {
//   background-color: rgb(185, 187, 187);
//   color: rgb(148, 99, 6);
// }

// .btnAddCart:hover {
//   background-color: rgb(185, 187, 187);
//   color: rgb(148, 99, 6);
// }

// .product__info:hover {
//   transform: scale(1.05);
//   border: 1px solid rgb(148, 99, 6);
//   border-radius: 2px;
// }

// .product__name {
//   font-size: 18px;
//   font-weight: bold;
//   color: rgb(148, 99, 6);
// }

// .product__price {
//   font-size: 18px;
//   font-weight: bold;
//   color: rgb(148, 99, 6);
// }

// .product__description {
//   font-size: 18px;
//   font-weight: bold;
//   color: rgb(148, 99, 6);
// }


// //mayor a 768px
// @media screen and (min-width: 768px) {
// }

