@use "./_h-fonts" as F;
@use "./_h-colors" as C;

main {

    h1 {
        color: C.$c-brand-light;
        font-size: 1.5rem;
        padding-bottom: .5rem;
    }

    h3 {
        color: C.$c-brand-border;
        font-size: 1.25rem;
        padding-bottom: .5rem;
    }

    .whatsapp {
        // color: C.$c-brand-border;
        // font-size: 1.25rem;
        // padding-bottom: .5rem;
        margin: 20px;
        position: fixed;
        top: auto;
        bottom: 100px;
        right: 5px;
        z-index: -1;
        text-align: right;
        padding-right: 5px;
        padding-left: 20px;

        .whatsapp__icon {
            color: C.$c-brand-light;
            font-size: 1.25rem;
            padding-bottom: .5rem;
        }
    }

    a {
        color: C.$c-brand-link;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: C.$c-brand-hover-color;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }

}

/* index.html */
.main__index {
    // background-color: C.$c-brand-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 25px;

    .slideshow-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .slides {
            display: none;
            width: 100%;

            img {
                height: 250px;
                width: 95vw;
                border-radius: 5px;
            }
        }

        .dot {
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: C.$c-brand-light;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active {
            background-color: C.$c-brand-border;
        }

        .activei {
            background-color: C.$c-brand-border;
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
        }

        @keyframes fade {
            from {
                opacity: .4
            }

            to {
                opacity: 1
            }
        }
    }

    .swiper-container {
        width: 95vw;
        height: 100%;
        background-color: C.$c-brand; 
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

    }

    .swiper-wrapper {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    h4 {
        margin: 10px 0;
        font-size: 1rem;
    }

    h5 {
        margin: 0;
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }

    p {
        margin: 1rem;
        font-size: 1rem;
        
    }

    .bannerSlides {
        display: none;
    }

    .slideshow-container {
        margin: auto;
    }


    .icon {
        color: white;
        font-size: 2rem;
    }

    .fadeBanner {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    .elements-credit-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .icons-credit-cards {
        height: 3em;
        margin: 1rem 1rem 1rem 1rem;
        width: auto;
        border: 1px solid C.$c-brand-border;
        background-color: C.$c-brand-pink;
    }

    .img-credit-cards {
        margin: 5px;
        padding: 5px;
        max-height: 3em;
        max-width: 3em;
    }

    .section__products {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;

        .products {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

            .product {
                background-color: C.$c-brand-bg;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 100%;
                padding: 5px;
                margin: 15px;
                border-radius: 5px;
                border: 1px solid rgb(185, 187, 187);
                transition: all 0.3s ease-in-out;

                .product__img {
                    width: 150px;
                    height: 150px;
                    margin: 10px;
                    border-radius: 5px;
                    border: 2px solid C.$c-brand;
                    transition: all 0.3s ease-in-out;
                }

                .product__img:hover {
                    transform: scale(1.25);
                    border: 2px solid C.$c-brand-border;
                    border-radius: 5px;
                }

                .product__info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    height: auto;
                    padding: 5px;
                    margin: 0;

                    .product__name {
                        color: C.$c-brand-border;
                        font-size: 1.0rem;
                    }

                    .product__brand {
                        font-size: 18px;
                        font-style: italic;
                        margin: 0;
                        color: C.$c-brand-dark;
                    }

                    .product__price {
                        font-size: 18px;
                    }

                    .product__category {
                        font-weight: bold;
                    }

                    .btnAddCart {
                        margin-top: 10px;
                        padding: 5px;
                        height: 35px;
                        font-size: 16px;
                        border-radius: 5px;
                        background-color: C.$c-brand-dark;
                        border: 1px solid C.$c-brand-link;
                        color: C.$c-brand-light;
                    }

                    .btnAddCart:hover {
                        border: 3px solid C.$c-brand-border;
                        border-radius: 5px;
                    }
                }
            }

            // .product:hover {
            //     transform: scale(1.20);
            //     border: 2px solid C.$c-brand-pink;
            //     border-radius: 7px;
            // }
        }
    }

    .cart {
        padding: 5px;

        .cart__list {
            background-color: C.$c-brand-pink;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            width: auto;
            margin: 10px;

            .cart__item {
                align-items: center;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin: 20px;
                padding: 5px;
                width: auto;
                border: 2px solid C.$c-brand-border;

                .cart__item__img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                }

                .cart__item__info {
                    flex: 1;
                    margin-left: 10px;
                }

                .cart__item__title {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0;
                }

                .cart__item__price {
                    font-size: 14px;
                    margin: 0;
                }

                .cart__item__quantity {
                    font-size: 14px;
                    margin: 0;
                }

                .cart__item__total {
                    font-size: 14px;
                    margin: 0;
                }

                .cart__item__remove {
                    background-color: #f00;
                    border: none;
                    border-radius: 5px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: bold;
                    height: 20px;
                    width: 20px;
                }

            }
        }
    }
}

/* add.html */
.main__update {
    // background-color: C.$c-brand-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 25px;

    .form__update {
        background-color: C.$c-brand-bg;
        margin: 0 20px 5rem 20px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        width: 70%;
        text-align: left;
        padding: 25px;
        opacity: .75;

        .label__add {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 1%;
            padding-left: 15px;
            color: C.$c-brand-border;
        }

        .input__add {
            margin-bottom: 15px;
            padding-left: 15px;
            height: 43px;
            font-size: 18px;
              background-color: C.$c-brand-hover;
            border-radius: 3px;
            border: 1px solid C.$c-brand-hover-color;
            border: none;
            border-bottom: 2px solid C.$c-brand-hover-color;
        }

        .button__add {
            margin-top: 3%;
            height: 43px;
            font-size: 18px;
            border-radius: 5px;
            background-color: C.$c-brand;
            border: 1px solid C.$c-brand-hover-color;
            color: C.$c-brand-border;
            font-weight: bold;
        }
    }

      .is-invalid {
        border: 2px solid C.$c-invalid;
        background-color: C.$c-invalid-bg;
        color: C.$c-brand-black;
    }

    .is-valid {
        border: 2px solid C.$c-isValid;
        border-radius: 5px;
        transform: scale(1.05);
        font-weight: bold;
        background-color: C.$c-isValid-bg;
        color: C.$c-isValid;
    }

    .error-message {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 15px 0px;
        color: C.$c-error-msg;
        font-size: 16px;
        font-weight: bold;
        padding-left: 15px;
    }

    .success-message {
        display: flex;
        flex-direction: column;
        color: C.$c-success-msg;
        font-size: 15px;
        width: 60%;
        text-align: center;
    }

    #errors {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 15px 0px;
        color: C.$c-errors;
        font-size: 16px;
        font-weight: bold;
        padding-left: 15px;
        text-align: center;
    }
}

/* contact.html */
.main__contact {
    // background-color: C.$c-brand-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 25px;

    .success-message {
        display: flex;
        flex-direction: column;
        color: C.$c-success-msg;
        font-size: 22px;
        width: 70%;
        text-align: center;

        p {
            font-size: 20px;
            margin: 10px;
        }
    }

    .form__contact {
        background-color: C.$c-brand-bg;
        margin: 0 20px 5rem 20px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        width: 70%;
        text-align: left;
        padding: 25px;
        opacity: .75;

        .label__contact {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 1%;
            padding-left: 15px;
            color: C.$c-brand-border;
        }

        .input__contact {
            margin-bottom: 15px;
            padding-left: 15px;
            height: 43px;
            font-size: 18px;
            border-radius: 3px;
            // background-color: C.$c-brand-light;
            background-color: C.$c-brand-hover;
            border: none;
            border-bottom: 2px solid C.$c-brand-hover-color;
        }

        .textarea__contact {
            margin-bottom: 3%;
            padding-left: 2%;
            font-size: 18px;
            background-color: C.$c-brand-hover;
            border-radius: 3px;
            border: 1px solid C.$c-brand-hover-color;
        }

        .button__contact {
            margin-top: 3%;
            height: 43px;
            font-size: 18px;
            border-radius: 5px;
            background-color: C.$c-brand;
            border: 1px solid C.$c-brand-hover-color;
            color: C.$c-brand-border;
            font-weight: bold;
        }
    }

    .is-invalid {
        border: 2px solid C.$c-invalid;
        background-color: C.$c-invalid-bg;
        color: C.$c-brand-black;
    }

    .is-valid {
        border: 2px solid C.$c-isValid;
        border-radius: 5px;
        transform: scale(1.05);
        font-weight: bold;
        background-color: C.$c-isValid-bg;
        color: C.$c-isValid;
    }

    .error-message {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 15px 0px;
        color: C.$c-error-msg;
        font-size: 16px;
        font-weight: bold;
        padding-left: 15px;
    }

    .success-message {
        display: flex;
        flex-direction: column;
        color: C.$c-success-msg;
        font-size: 15px;
        width: 60%;
        text-align: center;
    }

    #errors {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 15px 0px;
        color: C.$c-errors;
        font-size: 16px;
        font-weight: bold;
        padding-left: 15px;
        text-align: center;
    }
}

/* about.html */
.main__about {
    // background-color: C.$c-brand-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    padding-top: 25px;

    .section__about {
        background-color: C.$c-brand-bg;
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 10px;
        padding: 0 25px;
        opacity: .75;

        .article__about h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
            color: C.$c-brand-border;
            text-decoration: underline;
            text-align: left;
            padding: 20px 0px 10px 0px;
        }

        .article__about p {
            font-size: 18px;
            margin-bottom: 15px;
            color: C.$c-brand-black;
            font-weight: 600;
            text-align: left;
        }

        .article__about iframe {
            margin-top: 30px;
            width: 100%;
            height: 400px;
            border: 2px solid C.$c-brand-border;
            border-radius: 10px;
        }
    }
}

/* cart.html */
.main__cart {
    // background-color: C.$c-brand-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 800px;
    padding-top: 25px;
}